@font-face {
    font-family: 'airbnb';
    src: url('./fonts/AirbnbCerealLight.ttf')

}
@font-face {
    font-family: "airbnbMed";
    src: url("./fonts/AirbnbCerealMedium.ttf");
}
/* TODO Add site wide styles */
a, u, NavLink{
    text-decoration: none;
}


.headertxt{
    font-family: airbnbMed;
}

#root{
    font-family: 'airbnb';
  
}

.active{
    color: #222222;
    text-decoration: none;
}
.inactive{
    color: #222222;
    text-decoration: none;
}
.active:hover, .inactive:hover{
    color: #FE385C;
}

*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

textarea{
    resize: none;
}