.signUpForm{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.signUpFormInner{
    position: relative;
    padding: 24px;
    width: 568px;
    max-height: 1000px;
    max-width: 568px;
    
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    /* align-items: center; */
    margin-top: 18px;
    
}

.signup-inputs{
    border: 1px solid #B0B0B0;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;
    /* margin: ; */
}

.su{
    margin-top: 10px;
}

.bio-area{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.bio-area>textarea{
    resize: none;
    border: 1px solid #B0B0B0
}

.bio-area>textarea:focus{
    outline: none;
    padding-left: 3px;
}

.surb{
    margin-top: 0;
}

.input-email>p{
    font-size: .8em;
}

.bio-area>p{
    font-size: .8em;
}